<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/homeLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 각 페이지에 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		// th:inline="javascript" 이 부분을 꼭 써주고 사용해야 한다!
		// 회원가입 실패 시
		$(document).ready(function() {
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null) {
				alert(errorMessage);
			}
		});
	</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.signUp {
	padding-top: 70px;
	text-align: center;
}

.signUpBox {
	width: 1054px;
	height: 100px;
	font-size: 70px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: thick;
}

.signUpBox::placeholder {
	color: #FF8181;
	opacity: 0.33;
}

.signUpButton {
	text-align: center;
	padding-top: 80px;
}

.signUpButtonBox {
	width: 490px;
	height: 120px;
	font-size: 70px;
	background-color: #FF8181;
	opacity: 0.7; 
	border: none;
	color: black;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<form action="/members/new" method="post" th:object="${memberFormDto}">
			<div class="signUp">
				<label th:for="name"></label>
				<input type="text" th:field="*{name}" class="signUpBox" placeholder="name">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Data</p>
			</div>
			<div class="signUp">
				<label th:for="email"></label>
				<input type="email" th:field="*{email}" class="signUpBox" placeholder="email">
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Data</p>
			</div>	
			<div class="signUp">
				<label th:for="password"></label>
				<input type="password" th:field="*{password}" class="signUpBox" placeholder="password">
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect Data</p>
			</div>
			<div class="signUpButton">
				<button type="submit" class="signUpButtonBox">가입하기</button>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		</form>
	</div>
</body>
</html>