<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- homeHeader 선언 -->
	<div th:fragment="calendarHeader">
		<header>
			<div class="logoBox">
				<a href="#"> <img src="../images/logo.png" alt="로고" class="logo">
				</a>
			</div>
			<div class="year-monthOutBox">
				<div class="year-monthBox"></div>
			</div>
			<div class="navBox">
				<button class="go-prev navBtn">&lt;</button>
				<button class="goToday">today</button>
				<button class="go-prev navBtn">&gt;</button>
			</div>
		</header>
	</div>


</body>
</html>