<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- homeHeader 선언 -->
	<div th:fragment="header" class="container-xxl">
		<header>
			<div class="titleLogo">
				<a href="/"> 
					<img alt="로고" src="/images/titleLogo.png">
				</a>
			</div>
		</header>
		<nav class="navbar" style="/* background-color: rgba(255, 129, 129, 0.4); */ font-size: 2em;" id="navbarSupportedContent">
			<a class="nav-link" sec:authorize="isAuthenticated()" href="/user/calendar">CALENDAR</a> 
			<a class="nav-link" sec:authorize="isAuthenticated()" href="/user/todo">TODAY</a> 
			<a class="nav-link" sec:authorize="isAuthenticated()" href="/user/pages">MY PAGE</a> 
			<a class="nav-link" sec:authorize="isAnonymous()" href="/members/login">LOGIN</a> 
			<a class="nav-link" sec:authorize="isAuthenticated()" href="/members/logout">LOGOUT</a>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search"
					aria-label="Search" style="border-color: black;">
				<button class="btn btn-outline-success" type="submit" style="border-color: black; color: black;">Search</button>
			</form>
		</nav>
	</div>
</body>
</html>