<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- homeHeader 선언 -->
	<div th:fragment="homeHeader" class="container-xxl">
		<header>
			<div class="titleLogo">
				<a href="/"> 
					<img alt="로고" src="/images/titleLogo.png">
				</a>
			</div>
		</header>
		<nav class="nav" id="navbarSupportedContent">
			<a class="nav-link" href="/user/calendar" sec:authorize="hasAnyAuthority('ROLE_USER')">CALENDAR</a> 
			<a class="nav-link" href="/user/todo" sec:authorize="hasAnyAuthority('ROLE_USER')">TODAY</a> 
			<a class="nav-link" href="/user/pages" sec:authorize="hasAnyAuthority('ROLE_USER')">MY PAGE</a> 
			<a class="nav-link" href="/members/login" sec:authorize="isAnonymous()">LOGIN</a> 
			<a class="nav-link" href="/members/logout" sec:authorize="isAuthenticated()">LOGOUT</a>
			<!-- <form class="d-flex" role="search" th:action="@{/}" method="get">
				<input name="searchQuery" class="form-control me-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form> -->
		</nav>
	</div>
</body>
</html>