<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- homeHeader 선언 -->
	<div th:fragment="listHeader" class="container-sm">
		<div class="justify-content-start">
				<a class="navbar-brand" href="#"> <img src="../images/logo.png"
					alt="Logo" width="100" height="80"
					class="d-inline-block align-text-top">
				</a>
			</div>
		<div class="justify-content-center year-monthOutBox">
			<div class="year-monthBox"></div>
		</div>
		<nav>
			<div>
				<ul class="nav justify-content-end">
					<li class="nav-item naveDown1"><a class="nav-link" href="#"><img
							alt="검색 아이콘" src="../images/listNavImg1.png" class="imgSize1"></a></li>
					<li class="nav-item naveDown2"><a class="nav-link" href="#"><img
							alt="상세설명 아이콘" src="../images/listNavImg2.png" class="imgSize2"></a></li>
					<li class="nav-item naveDown3" ><a class="nav-link" href="#"><img
							alt="오늘 날짜 아이콘" src="../images/listNavImg3.png" class="imgSize3"></a></li>
					<li class="nav-item naveDown4"><a class="nav-link" href="#"><img
							alt="일정 추가 아이콘" src="../images/listNavImg4.png" class="imgSize4"></a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>