<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- homeHeader 선언 -->
	<div th:fragment="myPageHeader" class="container-xxl">
		<header>
			<div class="titleLogo">
				<img alt="로고" src="../images/titleLogo.png">
			</div>
		</header>
		<nav class="navbar">
			<a class="nav-link" href="#">CALENDAR</a> 
			<a class="nav-link" href="#">TODAY</a>
			<a class="nav-link" href="#">MY PAGE</a> 
			<a class="nav-link" href="#">LOGIN</a>
			<a class="nav-link" href="#">LOGOUT</a>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search"
					aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</nav>
	</div>
</body>
</html>