@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ff8181;
	background-color: rgba(255, 129, 129, 0.3);
/* 	display: flex;
	justify-content: center;
	align-items: center; */
}

/* header {
	display: flex;
	justify-content: center;
	justify-content: space-around;
} */
header {
	text-align: center;
}

header > div {
	display: inline-block;
}

.year-monthOutBox {
	position:relative;
	top: 25px;
	background-color: white;
	width: 600px;
	height: 100px;
	padding: 10px;
	border-radius: 20px;
}

.year-monthBox {
	border: 1px solid #ff8181;	
	width: 580px;
	height: 80px;
	border-radius: 20px;
	padding: 13px;
	text-align: center;
	font-size: 2em;
}

.goToday {
	position:relative;
	top: 55px;
	padding: 0px 4px 3px 4px;
	height: 40px;
	width: 100px; 
	font-size: 1.7em;
	background-color: white;
	border-radius: 10px;
	border: none;
}

.navBtn {
	position:relative;
	top: 55px;
	/* padding: 0px 4px 3px 4px; */
	height: 40px;
	width: 30px;
	font-size: 1.7em;
	background-color: white;
	border-radius: 10px;
	border: none;	
}

.logo {
	height: 140px;
	width: 177px;
}