@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/main.png");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 1080px;
}

.titleLogo {
	text-align: center;
}



