<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/homeLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.homeButton {
	padding-top: 300px;
	text-align: center;
}

button {
	padding: 40px 100px;
	font-size: 4em;
	border: none;
	background-color: transparent;
	font-weight: bold;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="container-xxl">
		<!-- 캐러셀 -->
		<div id="carouselControls" class="carousel slide margin"
			data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active item">
					<img class="d-block w-100 banner"
						src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png"
						alt="First slide">
					<p>일단 임시 메인 ㅅㅂ 제발 로그인 좀 되어주라</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>