<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.pageSection {
	padding-top: 30px;
}

.outlistLine {
	margin: 5px;
	border: 1px solid white;
	background: white;
}

.listLine {
	margin: 5px;
	padding: 20px;
	border: 1px solid #ff8181;
	background: white;
	line-height: 2em;
}

.buttonLine {
	display: flex;
}

.nav-btn {
	background-color: transparent;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border-color: white;
}

.deleteAccount {
	margin-left: auto;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="container-xxl">
		<div class="pageSection">
			<div class="outlistLine">
				<div class="listLine">
					이메일: <br> 닉네임: <br> 팔로잉 수: <br> 팔로워 수:
				</div>
			</div>
		</div>
		<div class="buttonLine">
			<div class="editEmail">
				<button class="nav-btn">수정</button>
			</div>
			<div class="deleteAccount">
				<button class="nav-btn">계정 삭제</button>
			</div>
		</div>
	</div>
</body>
</html>