<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/homeLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.homeButton {
	padding-top: 300px;
	text-align: center;
}

button {
	padding: 40px 100px;
	font-size: 4em;
	border: none;
	background-color: transparent;
	font-weight: bold;
}
</style>
</th:block>
</head>
<body>
	<div layout:fragment="content" class="container-xxl">
		<div class="mainHomeBg">
			<div class="homeButton">
				<button>login</button>
				<button>sign up</button>
			</div>
		</div>
	</div>
</body>
</html>